
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
	font-size: 12px;
}

input {
  width: 100px;
	padding: 5px;
	margin-right: 5px;
}

button,select{
	padding: 5px;
	margin-left: 5px;
}
footer a{
	color:black;
	text-align: center;
	text-decoration: blink;
}

#btnSubmit{
  float:left;

}
