extends layout

block content
  h1 Calificar las empresas
  h2 Mostar Clasificación
    a(href='/mostrarclasificacion' )
      ul
        li Mostrar Clasificación
  h2 Gestión Alumnos
   a(href='/votacion' )
    ul
      li Inicia Sesión
    a(href='/insertaalumno' )
      ul
        li Registrar
  h2 Gestión Empresas
    a(href='/insertaempresa' )
      ul
        li Inscribir
  footer
    a(href="/pages/creditos")© 2016 Universidad de Granada
