extends layout

block content
  h1 Borrar voto
  div#votacion
  form#formLogout(name='volver',method='get',action='/votacion')
    button#btnSubmit(type="submit") Volver atrás
  form(action='/registrarVoto', method='post')
      label(for='txtEmpresa')
        select(name="ID")
            each e, i in empresas
              option(value= e.ID)= e.nombre_empresa
      label(for='borrarvoto')
          input(type='hidden', id=txtNombreEmpresa, name='borrarvoto', value="borrar")      

      button(type='submit') Retirar
