extends layout

block content
  h1 Puntúa una de estas empresas
  div#votacion
  form#formLogout(name='volver',method='get',action='/votacion')
    button#btnSubmit(type="submit") Volver atrás
  form(action='/registrarVoto', method='post')
      label(for='txtEmpresa')
        select(name="ID")
            each e, i in empresas
              option(value= e.ID)= e.nombre_empresa
      label(for='txtNota')
        select(id="txtNota", name="txtNota")
          - for(var i = 0;i<=10;i++){
              option(value="#{i}") #{i}
          - }
      button(type='submit') Puntuar
