extends layout

block content
  h1= title
  p Estas autentificado como <b> #{usuario} </b>
  // a(href='/salir' ) Cerrar Sesión

  form#formLogout(name="votar",method="get",action="/mostrarEmpresas")
    button#btnSubmit(type="submit") Votar

  form#formLogout(name="retirarvoto",method="get",action="/mostrarMisVotos")
    button#btnSubmit(type="submit") Retirar Voto

  form#formLogout(name="logout",method="post",action="/salir")
    button#btnSubmit(type="submit") Cerrar Sesión
